.backDiv {
  position: absolute;
  background-color: #336699;
  left: 0;
  top: 0;
  min-width: 950px;
  width: 100%;
  height: 100%
}

.containerDiv {
  position: relative;
  background-color: white;
  min-width: 600px;
  width: 900px;
  margin-top: 15px;
  box-shadow: 0px 0px 12px #003366;
  padding-bottom: 10px;
  padding-top: 8px;
}

img {
  margin-top: 15px;
  width: 150px;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center {
  margin-left: 0px;
  width: 100%;
  text-align: center;
  font-family: Arial, Verdana, sans-serif
}

.redCenter {
  margin-left: 0;
  width: 100%;
  text-align: center;
  font-family: Arial, Verdana, sans-serif;
  color: red;
}

.left {
  font-family: Arial, Verdana, sans-serif;
  margin-left: 10px;
  text-align: left;
}

.list {
  font-family: Arial, Verdana, sans-serif;
  margin-left: 10px;
  list-style-type: none;
};
